<div class="container">
  <app-search (searchResults)="updateSearchResults($event)"></app-search>

  <div class="row" *ngIf="giphs && giphs.length">
      <div class="col-xs-12 col-md-4" *ngFor="let giph of giphs">
        <app-search-result [giph]="giph"></app-search-result>
      </div>
  </div>
  <div class="row" *ngIf="giphs && giphs.length">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <button class="btn btn-lg btn-primary btn-block" (click)="loadNext()">Load next...</button>
      </div>
  </div>
</div>